@font-face {
    font-family: 'fordngbs-antenna-light';
    src: url('../fonts/light.woff2') format('woff2'),
}

.footer {
    height: 56px;
}

.logo {
    width: 80px;
    height: 50px;
    background-image: url("../images/Untitled.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.nav-item {
    color: #727272;
    font-family: fordngbs-antenna-light;
    font-size: 16px;
    font-weight: 600;
    border-width: 0px;
    border-bottom: 0.1px solid #f1f1f1;
}

.nav-item:hover {
    color: rgb(0, 9, 91);
    border-color: black;
}

.nav-item i {
    font-size: 18px;
}

.nav-segment {
    display: flex;
}

.nav-segment h2 {
    font-family: fordngbs-antenna-light;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
}

.capable {
    background-color: rgb(242, 242, 242);
    font-family: fordngbs-antenna-light;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
}

#tx-nv {
    color: rgb(0, 104, 208);
    cursor: pointer;
}

#tx-nv:hover {
    color: black;
}

.item-car li {
    max-width: 228px;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.ul-1,
.ul-2 {
    font-family: fordngbs-antenna-light;
    text-align: center;
    padding-top: 40px;
}

.ul-1 span,
.ul-2 span {
    font-size: 16px;
    font-weight: 800;
}

.ul-1 p,
.ul-2 p {
    font-size: 12px;
}

.nav-shop {
    max-height: 444px;
    left: 160px;
    border-radius: 0px 0px 6px 6px;
}

.nav-support {
    max-height: 460px;
    left: 240px;
    border-radius: 0px 0px 6px 6px;
}

.nav-vehicles {
    top: 56px;
    z-index: 1;
}

.nav-vehicles i {
    color: #0e70d2;
    font-size: 20px;
    cursor: pointer;
}

.nav-vehicles h3 {
    color: #0e70d2;
    font-family: fordngbs-antenna-light;
    font-size: 16px;
    font-weight: 600;
}

.nav-vehicles h2 {
    font-size: 16px;
    font-weight: 600;
}

.nav-vehicles img {
    max-width: 280px;
    cursor: pointer;
}

.nav-vehicles li {
    font-family: fordngbs-antenna-light;
    border-bottom: 0.8px solid #f5f5f5;
}

.nav-vehicles p {
    font-size: 12px;
    cursor: pointer;
}

.showHidden-vehicles {
    display: none;
}

.cars-style {
    color: rgb(0, 104, 208);
    border-bottom: 2px solid rgb(0, 104, 208);
}

.box1 {
    background-color: rgb(23, 0, 244);
    max-width: 1440px;
    font-family: fordngbs-antenna-light;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px;
    margin: 0 auto;
}

.box2 {
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.box2 a {
    max-width: 1250px;
    max-height: 558px;
    font-family: fordngbs-antenna-light;
    font-size: 18px;
}

.box2 span:hover {
    text-decoration: underline;
}

.box3 h2 {
    font-family: fordngbs-antenna-light;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.box4 {
    max-width: 1360px;
}

.box6 {
    max-height: 558px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.box7 {
    font-family: fordngbs-antenna-light;
    background-color: #00142d;
}

.box7 a {
    width: 200px;
    height: 40px;
    background-color: #0093f0;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    border-radius: 20px;
}

.box8 {
    background-color: #00142d;
    color: white;
}

.box8 .box-slide a {
    width: 146px;
}

.box9 {
    border-bottom: 1px solid #d9d9d9;
}

.box9 p {
    max-width: 800px;
}

.box10 {
    cursor: pointer;
    padding-bottom: 20px;
}

.text-last {
    max-height: 240px;
}

.box10 {
    background-color: #f0f0f0;
    border-bottom: 1px solid #a6a6a6;
}
.box11{
    background-color: #f0f0f0;
    font-family: fordngbs-antenna-light;
    color: rgb(94, 94, 94);
    border-bottom: 1px solid #a6a6a6;
}
.box11 .box-search {
    border: 1px solid rgb(1, 2, 3);
    border-radius: 8px;
    max-height: 44px;
}

.box11 input {
    width: 220px;
    height: 40px;
    padding-left: 10px;
    font-family: fordngbs-antenna-light;
    font-size: 16px;
    border-radius: 8px;
}

.box11 input:focus {
    outline: none;
}

.box11 .box-search {
    max-width: 645px;
}
.box11 li{
    cursor: pointer;
    padding-right: 10px;
}
.box12{
    color: rgb(94, 94, 94);
    font-family: fordngbs-antenna-light;
    padding: 0 20px 0 20px;
}
.box12 ul{
    font-size: 14px;
}
.end-box {
    font-size: 24px;
}
.box13{
    background-color: #f0f0f0;
}
.box13 li{
    font-family: fordngbs-antenna-light;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 4px;
}
.box13 li:hover{
    text-decoration: underline;
}
.list-heading{
    font-family: fordngbs-antenna-light;
}
.end-item-box {
    font-family: fordngbs-antenna-light;
    font-size: 12px;
}

.end-item-box h3 {
    font-family: fordngbs-antenna-light;
    font-size: 12px;
}

.mySlides1,
.mySlides2 {
    display: none
}

.mySlide1,
.mySlide2 {
    display: none
}

.mySlides1 img,
.mySlides img {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.slideshow-container img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    width: 40px;
    height: 40px;
    background-color: #5e5e5e;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 50%;
    margin-right: 16px;
    padding: 6px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.box-slide {
    font-family: fordngbs-antenna-light;
}

.box-slide p,
.box-slide span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 400;
}

.box-slide span:nth-of-type(3) {
    width: 134px;
    cursor: pointer;
}

.box-slide span:first-of-type {
    font-size: 28px;
}

.box-slide a {
    width: 108px;
    height: 42px;
    border-radius: 20px;
    color: white;
    background-color: #0068d0;
    text-align: center;
    font-family: fordngbs-antenna-light;
    font-size: 14px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 24px;
}

.electric-box {
    background-image: url("../images/Electric.avif");
}

.vehicle-box {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    display: flex;
}

.vehicle-box span {
    color: white;
    font-family: fordngbs-antenna-light;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 24px;
}

.vehicle-box a {
    width: 150px;
    height: 40px;
    display: block;
    border: 1px solid white;
    border-radius: 20px;
    font-family: fordngbs-antenna-light;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
}

.vehicle-box p {
    cursor: pointer;
    font-size: 12px;
}

.trucks-box {
    background-image: url("../images/Trucks.avif");
}

.suv-box {
    background-image: url("../images/suv.avif");
}

.mustang-box {
    background-image: url("../images/mustang.jpeg");
}

.f-150-box {
    background-image: url("../images/F-150.avif");
}

.bronco-box {
    background-image: url("../images/bronco.avif");
}

.bt-vehicle button {
    height: 36px;
    background-color: #ffffff;
    font-family: fordngbs-antenna-light;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid rgb(94, 94, 94);
}

@media all and (max-width:767px) {
    .nav-box {
        display: flex;
    }

    .nav-showHidden {
        display: none;
    }
}

@media all and (min-width:768px) {
    .button-showHidden {
        display: none;
    }

    .color-vehicle {
        color: rgb(0, 104, 208);
    }
}

@media all and (max-width:991px) {

    .line-container {
        position: absolute;
        top: 4px;
        right: 20px;
        width: 35px;
        height: 45px;
        cursor: pointer;
    }

    .line-1,
    .line-2,
    .line-3 {
        display: block;
        position: absolute;
        width: 35px;
        height: 2px;
        border-radius: 4px;
        background-color: rgb(0, 9, 91);
    }

    .line-1 {
        top: 4px;
        transform-origin: right;
        transition: all 200ms ease 200ms;
    }

    .line-2 {
        top: 12px;
        transition: all 200ms linear 0s;
    }

    .line-3 {
        bottom: 22px;
        transform-origin: right;
        transition: all 200ms ease 200ms;
    }

    .text-menu {
        position: absolute;
        bottom: 0px;
        left: 3px;
        font-family: fordngbs-antenna-light;
        font-size: 10px;
        color: rgb(0, 9, 91);
    }

    .hide-line {
        transform: scaleX(0);
    }

    .top-rotate {
        transform: rotateZ(-26deg) scaleX(1.1);
    }

    .bottom-rotate {
        transform: rotateZ(26deg) scaleX(1.1);
    }

    .top-fixed {
        position: fixed;
        z-index: 2;
    }

    .navigation {
        height: 100vh;
        top: 50px;
        transition: all 0.8s linear 0s;
        display: none;
        z-index: 2;
    }

    .showHide-navigation {
        width: 100%;
        display: block;
    }


    .nav-top {
        color: #081160;
        cursor: pointer;
        transition: all 0.1s linear 0s;
    }

    .nav-text {
        font-family: fordngbs-antenna-light;
        font-size: 18px;
        line-height: 48px;
        user-select: none;
    }

    .nav-icon {
        font-size: 28px;
        text-align: right;
    }

    .color-nav-top {
        color: rgb(0, 104, 208);
    }

    .nav-bottom {
        color: rgb(0, 9, 91);
        cursor: pointer;
    }

    .nav-opening {
        display: none;
    }

    .box2 {
        background-image: url("../images/image-car2.jpeg");
        height: calc(440px + 46vw);
    }

    .box6 {
        background-image: url("../images/outVehicle.avif");
        height: calc(440px + 46vw);
    }

    .box3 h2 {
        padding: 48px 25px 32px 25px;
    }
    .box11 .box-search {
        max-width: 70%;
    }
}

/* ************************************* */

@media all and (min-width:992px) {
    .logo {
        margin-right: 200px;
    }

    .nav-icon-top {
        width: 100px;
        margin-right: 100px;
    }

    .nav-bottom {
        color: rgb(0, 9, 91);
        font-size: 18px;
        text-align: center;
        line-height: 56px;
        cursor: pointer;
        margin-top: -2px;
    }

    .nav-bottom:hover,
    .item-list:hover {
        border-bottom: 2px solid rgb(0, 9, 91);
    }

    .top-list li {
        color: rgb(0, 9, 91);
        font-family: fordngbs-antenna-light;
        font-weight: 600;
        padding-top: 14px;
    }

    .nav-opening {
        max-width: 1440px;
        max-height: 539.4px;
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 20px 0px;
        padding: 16px 56px 24px 56px;
    }

    .box2 {
        background-image: url("../images/image-car1.avif");
        max-height: 630px;
        height: calc(10px + 43vw);
    }

    .box6 {
        background-image: url("../images/outVehicle.avif");
        max-height: 630px;
        height: calc(10px + 43vw);
    }

    .box3 h2 {
        padding: 48px 45px 32px 45px;
    }

    .end-item-box {
        padding-right: 200px;
    }
}

/* ************************************ */
@media all and (min-width:1440px) {
    .nav-opening {
        left: 50%;
        margin-left: -720px;
    }

    .box3 h2 {
        padding: 48px 95px 32px 95px;
    }
}